body {
    background-color: black;
}

h1 {
    color: white;
    text-align: center;
}

.button {
    font-size: 150%;
    width: 3%;
}
.button:hover {
    color: red;
}

.button2 {
    font-size: 150%;
    width: 5%;
}
.button2:hover {
    color: red;
}

#display {
    color: white;
    font-size: 175%;
    text-align: center;
}